{
  "openapi": "3.1.0",
  "info": {
    "title": "LaughTrack API",
    "version": "1.0.0",
    "description": "LaughTrack v1 REST API — comedy shows, clubs, comedians, and favorites."
  },
  "servers": [
    {
      "url": "https://www.laugh-track.com/api/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/auth/token": {
      "post": {
        "operationId": "exchangeToken",
        "summary": "Exchange a session cookie for an access + refresh token pair",
        "description": "iOS clients call this after completing OAuth via ASWebAuthenticationSession. Returns a short-lived access JWT (15 minutes) plus a long-lived opaque refresh token (30 days). Store both in the keychain separately.",
        "tags": ["auth"],
        "responses": {
          "200": {
            "description": "Token pair issued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "No active session",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "403": {
            "description": "Invalid origin (CSRF protection)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": { "type": "integer", "minimum": 0 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "operationId": "refreshToken",
        "summary": "Rotate a refresh token for a new access + refresh pair",
        "description": "Atomically revokes the submitted refresh token and issues a new access+refresh pair. Revoked, expired, or unknown tokens return 401. No Bearer authentication required — the refresh token itself is the credential.",
        "tags": ["auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New token pair issued; the submitted refresh token is now revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or malformed body",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Refresh token is unknown, revoked, or expired",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": { "type": "integer", "minimum": 0 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/auth/signout": {
      "post": {
        "operationId": "signout",
        "summary": "Revoke every active refresh token for the authenticated user",
        "description": "Requires a valid Bearer access token. Marks every non-revoked refresh_token row for the caller as revoked. iOS clients should still clear local keychain entries after the call completes.",
        "tags": ["auth"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Tokens revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignoutResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "422": {
            "description": "Authenticated user has no UserProfile row",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": { "type": "integer", "minimum": 0 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Get the authenticated user's identity (display name, email, avatar URL)",
        "description": "Returns the User row backing the access token. iOS clients use this to render real account info on the Profile tab instead of the OAuth provider stub.",
        "tags": ["auth"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MeResponse" }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "422": {
            "description": "Authenticated user has no UserProfile row",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": { "type": "integer", "minimum": 0 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateMe",
        "summary": "Update authenticated user profile state",
        "description": "Updates durable profile state for the authenticated user. iOS clients use this to mark comedian onboarding complete after the user finishes or skips onboarding.",
        "tags": ["auth"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MeUpdateRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile state updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MeUpdateResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "422": {
            "description": "Authenticated user has no UserProfile row",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": { "type": "integer", "minimum": 0 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteMe",
        "summary": "Delete the authenticated user account",
        "description": "Requires a valid Bearer access token. Deletes profile-owned rows before deleting the caller user. User-linked accounts, refresh tokens, and sent notifications are removed by database cascades. iOS clients should clear local keychain entries after a 200 response.",
        "tags": ["auth"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Account deleted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AccountDeletionResponse" }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "422": {
            "description": "Authenticated user has no UserProfile row",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": { "type": "integer", "minimum": 0 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Account deletion failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/me/notifications": {
      "get": {
        "operationId": "getMeNotifications",
        "summary": "List the authenticated user's notification history",
        "description": "Returns the user's comedian-arrival notifications (push + email), reconstructed from sent-notification records and grouped per (comedian, show). iOS renders these in the notification center. Capped at the 100 most-recent; no cursor pagination.",
        "tags": ["auth"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Notification history",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NotificationListResponse" }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "422": {
            "description": "Authenticated user has no UserProfile row",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": { "type": "integer", "minimum": 0 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchMeNotifications",
        "summary": "Update the authenticated user's show-notification preferences",
        "description": "Updates the email/push show-notification toggles for the authenticated user. At least one field must be provided; omitted fields are left unchanged.",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationPreferenceUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notification preferences updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationPreferenceUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or no preference provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Authenticated user has no UserProfile row",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/me/notifications/seen": {
      "post": {
        "operationId": "markMeNotificationsSeen",
        "summary": "Mark the notification center as seen",
        "description": "Stamps the notifications last-seen high-water mark to now, clearing the unread badge. iOS calls this when the user opens the notification center.",
        "tags": ["auth"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Last-seen timestamp updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NotificationsSeenResponse" }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "422": {
            "description": "Authenticated user has no UserProfile row",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": { "type": "integer", "minimum": 0 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/me/location": {
      "patch": {
        "operationId": "patchMeLocation",
        "summary": "Update the authenticated user's Near-Me location preferences",
        "description": "Sets the saved ZIP code and nearby search radius used for Near Me. Send null for a field to clear it (the client sends explicit JSON null to clear the saved ZIP / distance).",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileLocationUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Location preferences updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileLocationUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body (zipCode must be a 5-digit US ZIP, distance a positive integer)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Authenticated user has no UserProfile row",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/me/push-tokens": {
      "post": {
        "operationId": "registerMePushToken",
        "summary": "Register a device push token for the authenticated user",
        "description": "Upserts an APNs (iOS) or FCM (Android) device token so the user receives comedian-arrival push notifications. iOS APNs hex tokens are stored lowercased; Android FCM tokens are stored verbatim.",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushTokenRegisterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Push token registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushTokenRegisterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body (token length / platform)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Authenticated user has no UserProfile row",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteMePushToken",
        "summary": "Deactivate a device push token for the authenticated user",
        "description": "Deactivates (soft-deletes) a previously registered device token so the device stops receiving push notifications.",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushTokenRegisterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Push token deactivation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushTokenDeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body (token length / platform)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Authenticated user has no UserProfile row",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/clubs": {
      "get": {
        "operationId": "listClubs",
        "summary": "List active clubs with upcoming shows",
        "tags": ["clubs"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 8 }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": { "type": "integer", "minimum": 0, "default": 0 }
          }
        ],
        "responses": {
          "200": {
            "description": "Club list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ClubListItem" }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": { "type": "integer", "minimum": 0 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/clubs/{id}": {
      "get": {
        "operationId": "getClub",
        "summary": "Get a single club by ID",
        "tags": ["clubs"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Club detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": { "$ref": "#/components/schemas/ClubDetail" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Non-numeric ID",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Club not found or inactive",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/clubs/{id}/shows": {
      "get": {
        "operationId": "getClubShows",
        "summary": "List upcoming shows for a club",
        "tags": ["clubs"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-indexed page number",
            "schema": { "type": "integer", "minimum": 0 }
          },
          {
            "name": "size",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1 }
          }
        ],
        "security": [{ "bearerAuth": [] }, {}],
        "responses": {
          "200": {
            "description": "Club upcoming shows",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ClubShowsResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": { "type": "integer", "minimum": 0 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/clubs/search": {
      "get": {
        "operationId": "searchClubs",
        "summary": "Search clubs with filters and pagination",
        "tags": ["clubs"],
        "parameters": [
          {
            "name": "club",
            "in": "query",
            "description": "Search term for club name",
            "schema": { "type": "string" }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "JSON-encoded filter object",
            "schema": { "type": "string" }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-indexed page number",
            "schema": { "type": "integer", "minimum": 0 }
          },
          {
            "name": "size",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1 }
          },
          {
            "name": "includeEmpty",
            "in": "query",
            "description": "Include clubs with no upcoming shows",
            "schema": { "type": "string" }
          },
          {
            "name": "X-Timezone",
            "in": "header",
            "description": "IANA timezone identifier (defaults to UTC)",
            "schema": { "type": "string", "default": "UTC" }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ClubSearchResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid X-Timezone header (non-IANA value)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": { "type": "integer", "minimum": 0 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/comedians": {
      "get": {
        "operationId": "listComedians",
        "summary": "List trending comedians (3+ upcoming shows)",
        "tags": ["comedians"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 8 }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": { "type": "integer", "minimum": 0, "default": 0 }
          }
        ],
        "responses": {
          "200": {
            "description": "Comedian list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ComedianListItem" }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/comedians/{id}": {
      "get": {
        "operationId": "getComedian",
        "summary": "Get a single comedian by numeric ID",
        "tags": ["comedians"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Comedian detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": { "$ref": "#/components/schemas/ComedianDetail" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Non-numeric ID",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Comedian not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/comedians/{id}/upcoming-runs": {
      "get": {
        "operationId": "getComedianUpcomingRuns",
        "summary": "List upcoming show runs for a comedian",
        "description": "Returns upcoming shows grouped into consecutive same-club runs, ordered by first show date ascending.",
        "tags": ["comedians"],
        "security": [{ "bearerAuth": [] }, {}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "club",
            "in": "query",
            "description": "Optional club-name filter",
            "schema": { "type": "string" }
          },
          {
            "name": "location",
            "in": "query",
            "description": "Optional venue location filter",
            "schema": { "type": "string" }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Optional show date in YYYY-MM-DD format",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "X-Timezone",
            "in": "header",
            "description": "IANA timezone identifier (defaults to UTC)",
            "schema": { "type": "string", "default": "UTC" }
          }
        ],
        "responses": {
          "200": {
            "description": "Upcoming runs for the comedian",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UpcomingRunResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid id, date, or X-Timezone",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": { "type": "integer", "minimum": 0 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/comedians/{id}/co-bill": {
      "get": {
        "operationId": "getComedianCoBill",
        "summary": "List comedians who have recently shared bills with a comedian",
        "tags": ["comedians"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Historically co-billed comedians",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ComedianLineup" }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Non-numeric ID",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": { "type": "integer", "minimum": 0 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/comedians/search": {
      "get": {
        "operationId": "searchComedians",
        "summary": "Search comedians with filters and pagination",
        "tags": ["comedians"],
        "security": [{ "bearerAuth": [] }, {}],
        "parameters": [
          {
            "name": "comedian",
            "in": "query",
            "description": "Search term for comedian name",
            "schema": { "type": "string" }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "JSON-encoded filter object",
            "schema": { "type": "string" }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-indexed page number",
            "schema": { "type": "integer", "minimum": 0 }
          },
          {
            "name": "size",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1 }
          },
          {
            "name": "includeEmpty",
            "in": "query",
            "description": "Include comedians with no upcoming shows",
            "schema": { "type": "string" }
          },
          {
            "name": "homeCity",
            "in": "query",
            "description": "Filter to comedians whose home city matches this 'city|state' token (from the values in homeCityFilters).",
            "schema": { "type": "string" }
          },
          {
            "name": "X-Timezone",
            "in": "header",
            "description": "IANA timezone identifier (defaults to UTC)",
            "schema": { "type": "string", "default": "UTC" }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ComedianSearchResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid X-Timezone header (non-IANA value)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": { "type": "integer", "minimum": 0 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/comedians/suggestions": {
      "get": {
        "operationId": "getComedianSuggestions",
        "summary": "Popularity-weighted random comedian suggestions for onboarding",
        "description": "Returns a fresh popularity-weighted random sample of comedians with upcoming shows for the post-auth favorite-a-comedian onboarding grid. Unlike comedian search (deterministic popularity sort), membership and order vary per call. Optional auth: when a bearer token is supplied, isFavorite reflects the caller's existing favorites.",
        "tags": ["comedians"],
        "security": [{ "bearerAuth": [] }, {}],
        "responses": {
          "200": {
            "description": "Comedian suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ComedianSearchItem" }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": { "type": "integer", "minimum": 0 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/comedians/past-shows": {
      "get": {
        "operationId": "getComedianPastShows",
        "summary": "List past shows for a comedian",
        "description": "Returns past shows (date < now) where the named comedian appeared in the lineup, ordered by date desc. Paginated.",
        "tags": ["comedians"],
        "parameters": [
          {
            "name": "comedian",
            "in": "query",
            "required": true,
            "description": "Comedian name to match against lineup items",
            "schema": { "type": "string" }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-indexed page number (defaults to 0)",
            "schema": { "type": "integer", "minimum": 0 }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Page size (1-50, defaults to 20)",
            "schema": { "type": "integer", "minimum": 1, "maximum": 50, "default": 20 }
          },
          {
            "name": "X-Timezone",
            "in": "header",
            "description": "IANA timezone identifier (defaults to UTC)",
            "schema": { "type": "string", "default": "UTC" }
          }
        ],
        "security": [{ "bearerAuth": [] }, {}],
        "responses": {
          "200": {
            "description": "Past shows for the comedian",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "total"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Show" }
                    },
                    "total": { "type": "integer" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing comedian, invalid page/size, or invalid X-Timezone",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": { "type": "integer", "minimum": 0 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/shows": {
      "get": {
        "operationId": "listShows",
        "summary": "List shows near a ZIP code",
        "tags": ["shows"],
        "parameters": [
          {
            "name": "zip",
            "in": "query",
            "required": true,
            "description": "5-digit US ZIP code",
            "schema": { "type": "string", "pattern": "^\\d{5}$" }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Start date (YYYY-MM-DD)",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End date (YYYY-MM-DD)",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-indexed page number",
            "schema": { "type": "integer", "minimum": 0 }
          },
          {
            "name": "size",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1 }
          },
          {
            "name": "comedian",
            "in": "query",
            "description": "Filter by comedian name",
            "schema": { "type": "string" }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "JSON-encoded filter object",
            "schema": { "type": "string" }
          },
          {
            "name": "distance",
            "in": "query",
            "description": "Radius in miles (1-500, default 25)",
            "schema": { "type": "integer", "minimum": 1, "maximum": 500, "default": 25 }
          },
          {
            "name": "X-Timezone",
            "in": "header",
            "description": "IANA timezone identifier (defaults to UTC)",
            "schema": { "type": "string", "default": "UTC" }
          }
        ],
        "security": [{ "bearerAuth": [] }, {}],
        "responses": {
          "200": {
            "description": "Show list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ShowListResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid parameters (zip, date format, distance range)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": { "type": "integer", "minimum": 0 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/shows/search": {
      "get": {
        "operationId": "searchShows",
        "summary": "Search shows with flexible filters",
        "description": "More flexible than /shows — ZIP is optional, supports club filter and sort.",
        "tags": ["shows"],
        "parameters": [
          {
            "name": "zip",
            "in": "query",
            "description": "5-digit US ZIP code (optional here, unlike /shows)",
            "schema": { "type": "string", "pattern": "^\\d{5}$" }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Start date (YYYY-MM-DD)",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End date (YYYY-MM-DD)",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-indexed page number",
            "schema": { "type": "integer", "minimum": 0 }
          },
          {
            "name": "size",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1 }
          },
          {
            "name": "comedian",
            "in": "query",
            "description": "Filter by comedian name",
            "schema": { "type": "string" }
          },
          {
            "name": "club",
            "in": "query",
            "description": "Filter by club name",
            "schema": { "type": "string" }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "JSON-encoded filter object",
            "schema": { "type": "string" }
          },
          {
            "name": "distance",
            "in": "query",
            "description": "Radius in miles (1-500, defaults to 25 when zip provided)",
            "schema": { "type": "integer", "minimum": 1, "maximum": 500 }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "X-Timezone",
            "in": "header",
            "description": "IANA timezone identifier (defaults to UTC)",
            "schema": { "type": "string", "default": "UTC" }
          }
        ],
        "security": [{ "bearerAuth": [] }, {}],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ShowSearchResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": { "type": "integer", "minimum": 0 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/shows/density": {
      "get": {
        "operationId": "getShowsDensity",
        "summary": "Per-day show counts for a date range",
        "description": "Returns a map of ISO date string (YYYY-MM-DD) to the number of shows scheduled on that day. Used to render density dots on the date-picker calendar. Range is capped at 90 days; if `to` exceeds the cap, it is silently clamped server-side.\n\nOptional `comedian` and `club` filters scope the result to dates where the named entity appears in the show lineup (comedian) or hosts the show (club). The two are mutually exclusive — supplying both returns 400. Either may be combined with `zip` + `distance` for an additional geographic narrow.",
        "tags": ["shows"],
        "parameters": [
          {
            "name": "zip",
            "in": "query",
            "description": "5-digit US ZIP code; required for distance filtering.",
            "schema": { "type": "string", "pattern": "^\\d{5}$" }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Start date (YYYY-MM-DD). Defaults to today.",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End date (YYYY-MM-DD). Defaults to from+89 days.",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "distance",
            "in": "query",
            "description": "Radius in miles (1-500, defaults to 25 when zip provided).",
            "schema": { "type": "integer", "minimum": 1, "maximum": 500 }
          },
          {
            "name": "comedian",
            "in": "query",
            "description": "Filter density to dates where this comedian appears in the show lineup. Mutually exclusive with `club`.",
            "schema": { "type": "string" }
          },
          {
            "name": "club",
            "in": "query",
            "description": "Filter density to dates hosted by this venue. Mutually exclusive with `comedian`.",
            "schema": { "type": "string" }
          },
          {
            "name": "X-Timezone",
            "in": "header",
            "description": "IANA timezone identifier (defaults to UTC).",
            "schema": { "type": "string", "default": "UTC" }
          }
        ],
        "security": [{ "bearerAuth": [] }, {}],
        "responses": {
          "200": {
            "description": "Per-day show counts keyed by YYYY-MM-DD.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ShowDensityResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": { "type": "integer", "minimum": 0 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/shows/{id}": {
      "get": {
        "operationId": "getShow",
        "summary": "Get a single show by ID",
        "tags": ["shows"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Show detail",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ShowDetailResponse" }
              }
            }
          },
          "400": {
            "description": "Non-numeric ID",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Show not found or hidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": { "type": "integer", "minimum": 0 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/home/feed": {
      "get": {
        "operationId": "getHomeFeed",
        "summary": "Composite home-screen feed (hero + six curated sections)",
        "description": "Single round-trip replacement for seven per-section calls. Returns hero context (zip/city/state + up to 3 near-you shows) plus arrays for trendingComedians, comediansNearYou, showsTonight, moreNearYou, trendingThisWeek, and popularClubs. Rate limit: 60 req/min anon, 300 req/min authenticated. Cache-Control: private, max-age=60 — response is personalized by session profile zipCode and Vercel geo-IP, so shared CDN caching is disabled.",
        "tags": ["home"],
        "parameters": [
          {
            "name": "zip",
            "in": "query",
            "required": false,
            "description": "Optional 5-digit US zip override. When supplied, beats the signed-in user's profile zipCode for this request — used for anonymous callers or profile-preview.",
            "schema": { "type": "string", "pattern": "^\\d{5}$" }
          },
          {
            "name": "distance",
            "in": "query",
            "required": false,
            "description": "Radius in miles for zip-scoped recommendations (1-500, default 25).",
            "schema": { "type": "integer", "minimum": 1, "maximum": 500, "default": 25 }
          },
          {
            "name": "X-Timezone",
            "in": "header",
            "description": "IANA timezone identifier (defaults to UTC)",
            "schema": { "type": "string", "default": "UTC" }
          }
        ],
        "responses": {
          "200": {
            "description": "Home feed payload",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HomeFeedResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid zip parameter",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/podcasts/search": {
      "get": {
        "operationId": "searchPodcasts",
        "summary": "Search podcasts with sorting and pagination",
        "tags": ["podcasts"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search term matched against podcast title, author, and description",
            "schema": { "type": "string" }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order (e.g. show_count_desc, name_asc); defaults to show_count_desc",
            "schema": { "type": "string" }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-indexed page number",
            "schema": { "type": "integer", "minimum": 0 }
          },
          {
            "name": "size",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1 }
          },
          {
            "name": "includeEmpty",
            "in": "query",
            "description": "Include podcasts with no episodes",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PodcastSearchResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": { "type": "integer", "minimum": 0 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/podcasts/{id}": {
      "get": {
        "operationId": "getPodcast",
        "summary": "Get podcast detail with recent episodes",
        "description": "Returns podcast metadata, recent episodes, related comedians, and approved comedian appearances per episode.",
        "tags": ["podcasts"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Podcast numeric id",
            "schema": { "type": "integer", "minimum": 1 }
          }
        ],
        "responses": {
          "200": {
            "description": "Podcast detail payload",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PodcastDetailResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid podcast id",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Podcast not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/favorites": {
      "get": {
        "operationId": "getFavorites",
        "summary": "List the signed-in user’s saved favorite comedians",
        "tags": ["favorites"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Favorite comedians",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FavoriteListResponse" }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "422": {
            "description": "User profile not found (re-auth needed)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addFavorite",
        "summary": "Favorite a comedian",
        "tags": ["favorites"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["comedianId"],
                "properties": {
                  "comedianId": {
                    "type": "string",
                    "description": "Comedian UUID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Favorited successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FavoriteResponse" }
              }
            }
          },
          "400": {
            "description": "Missing or invalid comedianId",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Comedian not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "422": {
            "description": "User profile not found (re-auth needed)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/favorites/{comedianId}": {
      "delete": {
        "operationId": "removeFavorite",
        "summary": "Unfavorite a comedian",
        "tags": ["favorites"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "comedianId",
            "in": "path",
            "required": true,
            "description": "Comedian UUID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Unfavorited successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FavoriteResponse" }
              }
            }
          },
          "400": {
            "description": "Missing comedianId",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Favorite not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "422": {
            "description": "User profile not found (re-auth needed)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/favorite-podcasts": {
      "get": {
        "operationId": "getFavoritePodcasts",
        "summary": "List the signed-in user’s saved favorite podcasts",
        "tags": ["favorites"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Favorite podcasts",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FavoritePodcastListResponse" }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "422": {
            "description": "User profile not found (re-auth needed)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addFavoritePodcast",
        "summary": "Favorite a podcast",
        "tags": ["favorites"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["podcastId"],
                "properties": {
                  "podcastId": {
                    "type": "integer",
                    "description": "Podcast numeric id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Favorited successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FavoriteResponse" }
              }
            }
          },
          "400": {
            "description": "Missing or invalid podcastId",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Podcast not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "422": {
            "description": "User profile not found (re-auth needed)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/favorite-podcasts/{podcastId}": {
      "delete": {
        "operationId": "removeFavoritePodcast",
        "summary": "Unfavorite a podcast",
        "tags": ["favorites"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "podcastId",
            "in": "path",
            "required": true,
            "description": "Podcast numeric id",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Unfavorited successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FavoriteResponse" }
              }
            }
          },
          "400": {
            "description": "Missing podcastId",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Favorite not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "422": {
            "description": "User profile not found (re-auth needed)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/favorite-shows": {
      "get": {
        "operationId": "getFavoriteShows",
        "summary": "List upcoming shows featuring the signed-in user's saved favorite comedians",
        "tags": ["favorites"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "One-indexed page number (default 1)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Page size (default 20, max 50)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          }
        ],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Favorite comedian shows",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FavoriteShowListResponse" }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "422": {
            "description": "User profile not found (re-auth needed)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/saved-shows": {
      "get": {
        "operationId": "getSavedShows",
        "summary": "List the signed-in user's saved shows",
        "tags": ["saved-shows"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "description": "Whether to return upcoming or past saved shows",
            "schema": {
              "type": "string",
              "enum": ["upcoming", "past"],
              "default": "upcoming"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "One-indexed page number (default 1)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Page size (default 20, max 50)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Saved shows ordered by the requested period",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SavedShowListResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid period",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "422": {
            "description": "User profile not found (re-auth needed)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/saved-shows/{showId}": {
      "parameters": [
        {
          "name": "showId",
          "in": "path",
          "required": true,
          "description": "Show numeric id",
          "schema": {
            "type": "integer",
            "minimum": 1
          }
        }
      ],
      "get": {
        "operationId": "getSavedShowState",
        "summary": "Get the signed-in user's saved state for a show",
        "tags": ["saved-shows"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Saved-show state",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SavedShowStateResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid showId",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Show not found or hidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "422": {
            "description": "User profile not found (re-auth needed)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "saveShow",
        "summary": "Save an upcoming visible show",
        "description": "Idempotently saves an upcoming visible show. Repeating the request after the saved show passes still succeeds.",
        "tags": ["saved-shows"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Show saved",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SavedShowStateResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid showId",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Show not found or hidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "409": {
            "description": "A new save cannot be created for a past show",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "422": {
            "description": "User profile not found (re-auth needed)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "unsaveShow",
        "summary": "Unsave a show",
        "description": "Idempotently removes the saved-show record, including for past or hidden shows.",
        "tags": ["saved-shows"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Show unsaved",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SavedShowStateResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid showId",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "422": {
            "description": "User profile not found (re-auth needed)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/favorite-clubs": {
      "get": {
        "operationId": "getFavoriteClubs",
        "summary": "List the signed-in user’s saved favorite clubs",
        "tags": ["favorites"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Favorite clubs",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FavoriteClubListResponse" }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "422": {
            "description": "User profile not found (re-auth needed)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addFavoriteClub",
        "summary": "Favorite a club",
        "tags": ["favorites"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["clubId"],
                "properties": {
                  "clubId": {
                    "type": "integer",
                    "description": "Club numeric id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Favorited successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FavoriteResponse" }
              }
            }
          },
          "400": {
            "description": "Missing or invalid clubId",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Club not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "422": {
            "description": "User profile not found (re-auth needed)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/favorite-clubs/{clubId}": {
      "delete": {
        "operationId": "removeFavoriteClub",
        "summary": "Unfavorite a club",
        "tags": ["favorites"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "clubId",
            "in": "path",
            "required": true,
            "description": "Club numeric id",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Unfavorited successfully (idempotent — succeeds whether or not the favorite existed)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FavoriteResponse" }
              }
            }
          },
          "400": {
            "description": "Missing clubId",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "422": {
            "description": "User profile not found (re-auth needed)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/ticket-clicks": {
      "post": {
        "operationId": "recordTicketClick",
        "summary": "Record an outbound ticket purchase click",
        "description": "Records first-party analytics for ticket CTA clicks. Authenticated requests are attributed to the caller profile; anonymous requests are attributed to an opaque visitor cookie.",
        "tags": ["analytics"],
        "security": [{ "bearerAuth": [] }, {}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TicketClickRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Click recorded"
          },
          "400": {
            "description": "Invalid click payload",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Invalid Bearer token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds the client should wait before retrying.",
                "schema": { "type": "integer", "minimum": 0 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/zip-lookup": {
      "get": {
[...]
