interactions:
- request:
    body: null
    headers:
      X-IG-App-ID:
      - '936619743392459'
    method: GET
    uri: https://i.instagram.com/api/v1/users/web_profile_info/?username=driftcomedian
  response:
    body:
      # Schema drift: "edge_followed_by" renamed to "followers" in a hypothetical API change.
      # The parser at data["data"]["user"]["edge_followed_by"]["count"] will raise KeyError.
      string: '{"data":{"user":{"id":"99999999","username":"driftcomedian","full_name":"Drift
        Comedian","followers":{"count":50000}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
