interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.tiktok.com/api/user/detail/?uniqueId=testcomedian
  response:
    body:
      string: '{"userInfo":{"user":{"id":"6789012345","uniqueId":"testcomedian","nickname":"Test
        Comedian","avatarThumb":"https://example.com/avatar.jpg","signature":"Comedian
        | Touring nationally","verified":true},"stats":{"followerCount":200000,"followingCount":350,"heartCount":4500000,"videoCount":210,"diggCount":8000}},"statusCode":0,"statusMsg":""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
