interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.tiktok.com/api/user/detail/?uniqueId=driftcomedian
  response:
    body:
      # Schema drift: "stats" renamed to "statistics" in a hypothetical API change.
      # The parser at data["userInfo"]["stats"]["followerCount"] will raise KeyError.
      string: '{"userInfo":{"user":{"id":"1111111","uniqueId":"driftcomedian","nickname":"Drift
        Comedian"},"statistics":{"followerCount":75000,"followingCount":200}},"statusCode":0,"statusMsg":""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
